body{
	font-family: 'Raleway', sans-serif;
}

#brand{
	font-size: 1.2rem;
	color: rgba(255, 255, 255, .5);
}

#brand2{
	font-size: 1.2rem;
}

.heading{
	text-align: center;
}

.subheading{
	margin-top: 50px;
	font-weight: bolder;
}

nav{
	font-weight: 600;
}

.btn-light{
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.2rem
}

#land{
	text-align: center;
	background: url(../img/ride.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	height: 657px;
	position: relative;
}

.image-overlay{
	position: absolute;
	display:block;
	width:100%;
	height:100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}

#bout{
	font-size: 1.3rem;
}

.visible{
	position: relative;
	z-index: 1;
}

#slogan{
	padding-top: 23%;
	font-size: 3.5rem;
}

#journ{
	text-align: center;
}

.journey{
	display: inline-block;
	padding: 25px;
	font-size: 1.2rem;
	text-align: justify;
}

.signUp, .signUp:hover{
	color: #000;
	text-decoration: underline;
}

.signUp:hover{
	font-weight: bolder;
}

#firstbtn{
	background: none;
	color:white;
	font-size: 1.5rem;
	margin-top: 35px;
	outline: none;
	border: 1.5px solid rgba(255, 255, 255, 0.5);
}

#firstbtn:hover{
	background: #000;
	color:white;
	margin-top: 35px;
	outline: none;
	border: 1.5px solid #fff;
}

#firstbtn:focus, #firstbtn.focus{
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}

#about{
	text-align: justify;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 20px;
}

#drive{
	margin-top: 50px;
}

#merry{
	text-align: center;
	font-size: 3rem;
	padding: 70px;
}

#how{
	text-align: justify;
	font-size: 20px;
	margin-top: 50px;
}

.how{
	padding-top:30px;
}

.img-thumbnail{
	border: none;
}

#special{
	text-align: justify;
}

.steps{
	padding-top: 150px;
}

#footer{
	text-align: center;
	background:#f2f2f2;
	padding-bottom:50px;
	position: relative;
}

.bottom{
	margin-top: 50px;
}

.icon{
	margin-top: 60px;
	font-size: 40px;
	padding:10px;
	color:#000;
}

.icon:hover{
	color:#000;
	text-decoration: none;
}

#action{
	background: none;
	color:#000;
	font-size: 1.5rem;
	margin-top: 35px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

#action:hover{
	background: #000;
	color:#fff;
	margin-top: 35px;
	outline: none;
	border: 1px solid #000;
}

#action:focus, #action.focus{
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8);
}